* {
  padding: 0;
  margin: 0;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  font-family: sans-serif;
}

#app {
  display: block;
  margin: auto;
  padding: 1rem 1.5rem;
  max-width: 500px;

  @media screen and (min-width: 720px) {
    margin-top: 2rem;
  }
}

header {
  display: block;
  padding: 0.25rem 0.25rem;
  color: #fff;
  background-color: rgb(69, 137, 255);
  margin: -1.5rem -1.5rem 1.5rem -1.5rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 3px 6px #a7a7a7;
  z-index: 32;

  h1 {
    font-size: 1.5rem;
  }

  img {
    width: 1.5rem;
    height: auto;
  }

  @media screen and (min-width: 720px) {
    border-radius: 10px;
  }
}

#catalog-container {
  position: relative;
  border: 3px solid darkgray;
  border-radius: 10px;
  height: 55vh;
  max-height: 55vh;
  box-sizing: border-box;
  overflow-y: scroll;

  #loading-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 32;
    background-color: rgba(0, 255, 0, 0.25);
    display: none;

    .lds-ring {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: green transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  #catalog {
    height: max-content;
    width: 100%;
    background-color: #fff;
  }

  .price-element {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25rem;
    border-radius: 0 0 8px 8px;
    border: 2px solid #dbdbdb;
  }

  #add-item-card {
    border: 2px dashed #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px #dbdbdb;

    img {
      width: 4rem;
      height: auto;
      filter: invert(100%);
      opacity: 0.15;
    }
  }
}

/* #pages-indicator-container {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #000;
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-size: 0.9rem;
}
 */
.icon-flex-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  background-color: #fff;
  margin-bottom: 0.5rem;
  border-radius: 32px;
  border: 2px solid gray;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  user-select: none;
  padding: 0.75rem 1.5rem;

  img {
    border-radius: 50%;
    outline: 2px solid #000;
    width: 1.75rem;
    transition: transform 0.25s;
  }
}

.accordion-body {
  display: none;
  padding: 0.75rem 1.5rem;
  padding-top: 1.5rem;
  border-radius: 0 0 32px 32px;
  border-top: none;

  label {
    display: block;
    padding-bottom: 1rem;
  }

  label:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 1rem;

    input {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  label:nth-child(2) {
    input {
      margin-top: 0.5rem;
    }
  }
}

#add-banner-accordion {
  border: 2px solid rgb(88, 88, 255);
  span {
    color: rgb(88, 88, 255);
  }

  .accordion-body {
    border-top: 2px solid rgb(88, 88, 255);
  }
}

#manage-grid-accordion {
  .accordion-body {
    border-top: 2px solid gray;

    label {
      display: block;
    }

    .buttons-container {
      margin-top: 1rem;
    }

    button {
      border: 2px solid gray;
      width: 5rem;
      padding: 0.5rem;
      border-radius: 18px;
      margin-right: 0.5rem;
      transition: border-color 0.5s, background 0.5s;
    }

    button.active {
      border-color: blue;
      background-color: #fff;
      color: blue;
      font-weight: bold;
    }
  }
}

#buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;

  img {
    width: 1.5rem;
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid gray;
    padding: 1rem;
  }
}

#catalog-banner {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-bottom: 1px solid #dbdbdb;
}

.main-button {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.button-icon {
  width: 1.5rem;
  height: auto;
  opacity: 0.85;
}

#open-files {
  display: none;
}

#products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  figure {
    position: relative;
  }

  figcaption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    outline: none;
  }

  img,
  div {
    aspect-ratio: 1;
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    filter: drop-shadow(0 3px 3px #dbdbdb);
  }
}

#products-grid.minified {
  gap: 3px;
  img {
    border: none;
    border-radius: 0;
    outline: 3px solid #dbdbdb;
    filter: none;
  }

  #add-item-card {
    border-radius: 0;
    filter: none;
  }
}

#show-more-options-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1.5rem -1.5rem 0 -1.5rem;
  border-top: 1px solid #000;

  #collapsible {
    display: none;
  }
}

#grid-settings-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin: 1rem -1.5rem 0 -1.5rem;
  border-top: 1px solid #000;

  input {
    width: 100%;
    box-sizing: border-box;
  }

  span {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
