* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

#app {
  display: block;
  margin: auto;
  height: 100vh;
  padding: 1rem 1.5rem 4rem 1.5rem;
  max-width: 500px;
}

header {
  display: block;
  padding: 0.25rem 0.25rem;
  color: #FFF;
  background-color: rgb(69, 137, 255);
  margin: -1.5rem -1.5rem 1.5rem -1.5rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 3px 6px #a7a7a7;

  h1 {
    font-size: 1.5rem;
  }

  img {
    width: 1.5rem;
    height: auto;
  }
}

#add-items-button,
#download-catalog-button {
  border-radius: 32px;
  background-color: #fff;
  font-weight: bold;
  width: 50%;
}

#add-items-button:active,
#download-catalog-button:active {
  box-shadow: none;
}

#add-items-button {
  color: #fff;
  background-color: rgb(255, 0, 166);
  box-shadow: 0 3px 12px rgba(143, 3, 94, 0.673);
}

#download-catalog-button {
  color: rgb(0, 0, 0, 0.75);
  background-color: rgb(128, 255, 0);
  box-shadow: 0 3px 12px rgb(94, 186, 2);

  img {
    opacity: 0.75;
  }
}

#catalog-container {
  position: relative;
  border: 2px solid darkgray;
  border-radius: 10px 10px 0 0;
  max-height: 55vh;
  margin: auto;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: darkgray;
  padding: 1rem;

  #catalog {
    min-height: 100vh;
    height: max-content;
    width: 100%;
    background-color: #fff;
  }
}

#pages-indicator-container {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #000;
  color: #fff;
  border-radius: 0 0 10px 10px;
  font-size: 0.9rem;
}

.icon-flex-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#add-banner-accordion {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  font-weight: bold;
  background-color: #fff;
  span {
    color: rgb(88, 88, 255);
  }
}

#add-banner-body {
  display: none;
  padding: 0.75rem 1.5rem;
  padding-top: 1.5rem;
  border-radius: 0 0 32px 32px;
  border: 2px solid rgb(88, 88, 255);
  border-top: none;

  label {
    display: block;
    padding-bottom: 1rem;
  }

  label:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 1rem;

    input{
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  label:nth-child(2) {
    input {
      margin-top: 0.5rem;
    }
  }
}

#add-banner-accordion .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  user-select: none;
  padding: 0.75rem 1.5rem;
  border: 2px solid rgb(88, 88, 255);
  border-radius: 32px;

  img {
    border-radius: 50%;
    outline: 2px solid #000;
    width: 1.75rem;
    transition: transform 0.25s;
  }
}

.buttons-container {
  display: flex;
  max-width: 32rem;
  margin: 1rem 0;
  gap: 1rem;

  button {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 2px solid gray;
  }
}

#fullscreen-button-container {
  position: relative;
}

#fullscreen-button {
  position: absolute;
  top: -2.5rem;
  right: 0.25rem;
  width: 1.5rem;
  height: auto;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid gray;
  padding: 1rem;
}

#catalog-banner {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-bottom: 1px solid #dbdbdb;
}

.main-button {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.button-icon {
  width: 1.5rem;
  height: auto;
  opacity: 0.85;
}

#open-files {
  display: none;
}

#products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25vh;
  gap: 1rem;
  padding: 1rem;
}

#products-grid div {
  display: block;
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 3px 3px #dbdbdb);
}

#show-more-options-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1.5rem -1.5rem 0 -1.5rem;
  border-top: 1px solid #000;

  #collapsible {
    display: none;
  }
}

#grid-settings-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin: 1rem -1.5rem 0 -1.5rem;
  border-top: 1px solid #000;

  input {
    width: 100%;
    box-sizing: border-box;
  }

  span {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
